.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  margin: 0 auto 50px;
  width: 60%;
  min-width: 500px;
}

.bg-img {
  background: url('../img/casino_green.png') 100% 100%;
}
.play-board {
	text-align: center;
	margin-top: 7%;
}
.score-board {
  margin-top: 7%;
  text-align: center;
}
.button-player {
	margin: 0 auto;
}
/*.player-hand-container {

}*/